<div class="forgotten-password">
  <div class="language-container">
    <mat-form-field appearance="fill">
      <mat-select class="browser-default" (selectionChange)="languageSelected($event)" [ngModel]="selectedLanguage">
        <mat-option *ngFor="let language of languages" [value]="language.value">
          {{language.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="container">

    <div class="row paragraph-container">
      <div class="row upper">
        <div class="col-4">
          <img src="./assets/icons/ttms.svg" class="logo" />
        </div>
      </div>

      <form *ngIf="showForgottenPasswordForm" class="row" (ngSubmit)="sentEmail()">
        <div class="col-4 center">
          <p class="correct_email">
            {{"ForgottenPassword.EnterYourEmailAddressToWhichWeWillSendVerificationCode" | translate}}
          </p>
          <div class="input" class="example-full-width" appearance="fill">
            <input type="email" matInput [formControl]="emailFormControl" placeholder="e-mail" />
            <mat-error *ngIf="
              emailFormControl.touched &&
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            ">
              {{"ForgottenPassword.PleaseEnterAValidEmailAddress" | translate}}
            </mat-error>
            <mat-error *ngIf="
              emailFormControl.touched && emailFormControl.hasError('required')
            ">
              {{"ForgottenPassword.PleaseEnterAValidEmailAddress" | translate}}
            </mat-error>
          </div>
        </div>
      </form>

      <div *ngIf="showForgottenPasswordForm" class="row forgotten-password__bottom bottom">
        <button (click)="sentEmail()" mat-raised-button color="primary">
          {{"Common.RemindPassword" | translate}}
        </button>
      </div>

      <div *ngIf="!showForgottenPasswordForm" class="row">
        <div class="col-4 center">
          <p class="verification">
            {{"ForgottenPassword.WeHaveSentAPasswordReminderLinkToYourEmailAddress" | translate}}
          </p>
          <a click="goBackToPreviousPage()" href="#" class="btn"><img src="../../../assets/icons/Go Back.png" /></a>
        </div>
      </div>
      <div *ngIf="!showForgottenPasswordForm" class="row bottom"></div>
    </div>
  </div>

</div>
