.forgotten-password {
    background-image: url("../../../assets/images/planet-blackOverlay.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    height: 100vh;
    width: 100%;

    .language-container {
      color: white;
      display: flex;
      justify-content: right;
      position: fixed;

      .mat-form-field {
        .mat-form-field-wrapper {
          border: 2px solid white;
          border-radius: 7px;
        }
        .mat-select-min-line {
          color: white;
          font-size: 15px;
        }
      }
    }

  .mat-select-value {
    color: rgb(255, 255, 255);
  }

    .paragraph-container {
      align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 4em;
            width: 350px
    }

    .container {
      align-items: center;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .upper {
      background-color: rgba(204, 204, 204, 0.8);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      display: flex;
      height: 175px;
      justify-content: center;
      width: 100%;

      }
      .logo {
        height: 50px;
        margin-top: 30px;
        width: 50px;
      }

      .center {
        align-items: center;
        background-color: rgba(204, 204, 204, 0.8);
        display: flex;
        flex-direction: column;
        height: 210px;
        text-align: center;
        width: 100%;
      }

        p {
            color: white;
            font-size: 1.25em;
        }

        .mat-raised-button {
          width: 240px;
        }

        .line {
            background-color:white;
            height: 10px;
            width: 400px;
        }

        .verification {
            margin-top: 50px;
        }

        .example-full-width {
          padding: 0;
        }

        input {
          border-radius: 6px;
          background-color: rgb(255, 255, 255);
          border: none;
            display: flex;
            height: 45px;
            margin-top: 10px;
            width: 240px;
        }

       input::placeholder {
         color: gray;
         font-size: 1em;
         padding-left: 10px;
         text-align: left;
       }

        .input {
            display: flex;
           justify-content: center;
           width: 240px;
        }
      }

      .bottom {
        background-color: rgba(204, 204, 204, 0.8);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 116px;
        width: 100%;
      }
        img {
            background: none;
        }

    .button-container {
        background: none;
    }

    .forgotten-password__bottom {
      text-align: center;
    }

    .mat-raised-button {
      height: 2.5em;
      font-size: 1.6em;
    }

    .mdc-button--raised {
        background-color: none;
        font-weight: bold;
        height: 50px;
        text-transform: capitalize;
        width: 240px;
    }
    .button-container {
        display: flex;
        justify-content: center;
    }

