@import "../../../styles/mixins.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/variables.scss";

.container {
  background-image: url("../../../assets/images/planet-blackOverlay.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;

  .language-container {
    display: flex;
    position: fixed;
    text-align: right;

    .mat-form-field {
      .mat-form-field-wrapper {
        border: 2px solid white;
        border-radius: 7px;
      }
      .mat-select-min-line {
        color: white;
        font-size: 15px;
      }
    }
  }
}

.reset-password {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .main-container {
    @include d-flex-center;

    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.8);
    color: $white;
    flex-direction: column;
    height: 500px;
    width: 350px;

    img {
      height: 50px;
      margin: 30px 0px 33px 0px;
      width: 50px;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 300;
    }

    form {
      width: 100%;
    }

    &__top {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 175px;
      width: 100%;
    }

    &__center {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 210px;
      width: 100%;

      input {
        border: none;
        border-radius: 10px;
        height: 45px;
        margin-top: 8px;
        padding: 0px 15px;
        width: 238px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $inputGray;
        }
      }

      .error-text {
        max-width: 238px;
      }
    }

    &__bottom {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 115px;
      width: 100%;

      button {
        border-radius: 10px;
        font-size: 1.5rem;
        height: 45px;
        margin-bottom: 17px;
        width: 238px;
      }

      p {
        border-bottom: 1px solid $white;
        color: $white;
        font-size: 1rem;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
