<div class="container">
  <div class="language-container">
    <mat-form-field appearance="fill">
      <mat-select  class="browser-default"(selectionChange)="languageSelected($event)" [ngModel]="selectedLanguage">
        <mat-option class="option" *ngFor="let language of languages" [value]="language.value">
          {{language.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="reset-password">
    <div class="main-container">
      <div class="main-container__top">
        <div class="row">
          <img src="../../../assets/icons/ttms.svg" alt="ttms logo" />
        </div>
        <div class="row">
          <h2>{{ "ResetPassword.SetANewPassword" | translate }}</h2>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="main-container__center">
          <div class="row">
            <input
              type="password"
              id="reset-new-pass"
              placeholder="{{ 'ResetPassword.NewPassword' | translate  }}"
              formControlName="password"
            />
          </div>
          <div class="row">
            <input
              type="password"
              id="reset-new-pass-repeat"
              placeholder="{{ 'ResetPassword.ConfirmNewPassword' | translate }}"
              formControlName="confirmPassword"
            />
          </div>
          <mat-error
            class="error-text"
            *ngIf="
              (form.get('password1')?.invalid &&
                form.get('password1')?.touched) ||
              (form.get('confirmPassword')?.invalid &&
                form.get('confirmPassword')?.touched)
            "
          >
            {{ "ResetPassword.PasswordMustContainOneNumberOneUppercaseAndOneLowercaseLetterAndASpecialCharacter" | translate }}
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="form.errors?.['valid'] && (form.touched || form.dirty)"
          >
            {{ "ResetPassword.ThePasswordsDoNotMatch" | translate }}
          </mat-error>
        </div>
        <div class="main-container__bottom">
          <div class="row">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
            >
              {{ "ResetPassword.Change" | translate }}
            </button>
          </div>
          <div class="row">
            <a href="#"
              ><p>{{ "Common.RemindPassword" | translate }}</p></a
            >
          </div>
        </div>
      </form>
    </div>
  </div>


</div>

