@font-face {
  src: url("../assets/fonts/NunitoSans-Light.ttf");
  font-family: "NunitoSans";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/NunitoSans-Regular.ttf");
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/NunitoSans-Bold.ttf");
  font-family: "NunitoSans";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("../assets/fonts/Normatica-Bold.ttf");
  font-family: "Normatica";
  font-weight: 700;
  font-style: bold;
}
