.delete-icon {
  filter: brightness(0%) invert(9%) sepia(72%) saturate(0%) hue-rotate(85deg)
    brightness(88%) contrast(82%);
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.delete-icon-green {
  filter: brightness(0) invert(57%) sepia(76%) saturate(394%) hue-rotate(89deg)
    brightness(90%) contrast(91%);
}

.edit-icon {
  filter: brightness(0%) invert(9%) sepia(72%) saturate(0%) hue-rotate(85deg)
    brightness(88%) contrast(82%);
  height: 24px;
  margin-right: 20px;
  width: 24px;
  cursor: pointer;
}

.icon-lightGreen {
  filter: brightness(0%) invert(59%) sepia(10%) saturate(1736%)
    hue-rotate(65deg) brightness(97%) contrast(90%);
}

.edit-icon-green {
  filter: brightness(0) invert(57%) sepia(76%) saturate(394%) hue-rotate(89deg)
    brightness(90%) contrast(91%);
}
