<div class="wrapper">
  <div class="picture__background">
    <div class="picture__background__btn">
      <h1 class="title__background">404</h1>
      <h3 class="desc__background">{{"NotFound.PageNotFound" | translate}}</h3>
      <button mat-flat-button color="primary" class="component__inside__btn--size" (click)="comeBack()">
        {{"NotFound.GoBack" | translate}} </button>
    </div>
    <div class="picture__background__desc"><a href="http://www.freepik.com" class="component__inside__desc">Designed by
        Freepik</a></div>
  </div>

</div>
