@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.wrapper {
  background-color: $background404;
  height: calc(100vh - 111px);
  width: 100%;
}
.picture__background {
  background-image: url("../../../assets/images/error_404.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  &__btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    padding-top: 8%;
    .desc__background {
      margin-top: 1%;
    }
  }
  &__desc {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.title__background {
  -webkit-text-stroke: 2px black;
  color: rgb(245, 203, 57);
  font-family: "Normatica" !important;
  font-size: 6rem;
}
